.search-form {
  max-width: 425px;
  margin: 4em auto auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 1px solid #0000;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  transform: scale(0.95) translateY(4px);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease,
    border-color 0.2s ease-in-out;
}

.search-form:focus-within,
.search-form:hover {
  transform: scale(1.05) translateY(4px);
  box-shadow: 0 1em 3em -0.875em #0004;
  border-color: #c8e4b2;
}

.search-form input {
  line-height: 1;
  outline: 1px solid transparent;
  border: 1px solid transparent;
  padding: 8px 12px;
  padding-right: 0;
  flex: 1;
}

.search-form button {
  display: grid;
  place-items: center;
  padding: 0;
  outline: 1px solid transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  transition: border-color 0.2s, background-color 0.2s;
}

.search-form button:hover,
.search-form button:has(span) {
  background-color: rgba(0 0 0 / 0.05);
}

.search-form button:focus {
  border-color: #0004;
}

.search-form button svg {
  margin: 8px;
}

.results-list {
  list-style-type: none;
  max-width: 625px;
  margin: var(--spacing) auto auto;
  max-height: 320px;
  border-radius: 12px;
  background-color: #fff4;
  overflow: hidden auto;
  padding: calc(1.125 * var(--spacing)) calc(0.875 * var(--spacing));
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 0.625em;
}

.results-list li {
  border-radius: 10px;
  background-color: #0001;
  padding: calc(0.875 * var(--spacing));
}

@media only screen and (min-width: 76px) {
  .results-list {
    max-height: 425px;
  }
}
