:root,
body {
  background-color: #c8e4b2;
  background-image: url(./assets/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #444444;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Sen", sans-serif;
  height: 100%;
  min-height: 768px;
}

* {
  margin: unset;
  padding: unset;
  box-sizing: inherit;
  font: inherit;
  color: inherit;
  overflow-wrap: break-word;
  /* outline: 1px solid red; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

#root {
  --spacing: 1.25em;
  isolation: isolate;
  height: 100%;
  min-width: 320px;
  max-width: 1280px;
  margin-inline: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
}

#root > * {
  width: calc(100% - (var(--spacing) * 2));
  margin-inline: auto;
}
