.card {
  max-width: 625px;
  background-color: #ffd9b7;
  padding: calc(1.25 * var(--spacing));
  border-radius: 18px;
  box-shadow: 0 1em 3em -0.875em #0004;
  position: relative;
  isolation: isolate;
}

.star-wrapper {
  position: absolute;
  top: 0.2em;
  left: 50%;
  transform: translateX(-50%);
}

.card section:first-of-type {
  margin-bottom: 1.5em;
  padding: 0.375em 0.625em;
  position: relative;
  z-index: 1;
  background-color: #fff2;
  border-radius: 10px;
}

.card section:first-of-type p {
  font-weight: bolder;
  user-select: none;
}

.card section:first-of-type::before {
  content: url(./assets/quote.svg);
  position: absolute;
  transform: rotate(180deg) translate(50%, 45%);
  opacity: 0.2;
  z-index: -1;
}

.card section:last-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card section:last-of-type div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
